# Project files
.gatorconfig.json
secrets
/bin/
/dist/
/blog-aggregator

# Binaries
*.exe
*.dll
*.so
*.dylib
*.test
*.out
*.tar.gz

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Environment files
.env